:root {
  --main-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --dark-bg-text-color: #ffffff;
  --grid-item: 1;
  --default-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
