.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}
.page-header__logo {
  margin: 24px 93px 25px 0px;
}
.page-header__nav {
  display: flex;
  align-items: center;
}
