.our-team {
  background-color: var(--grey-bg-color);
}

.our-team__item {
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  text-transform: none;
}
.our-team__member {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team__item {
  --grid-item: 1;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --grid-item: 4;
  }
}

.our-team__card {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
